<script setup>
    import { router } from '@inertiajs/vue3'
    import { reactive } from 'vue'

    import BoxAlert from '../../Components/BoxAlert.vue'
</script>

<template>
    <BoxAlert :errors="errors"/>

    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
                alt="Your Company">
                
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="space-y-6" action="#" method="POST">
                <div>
                    <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>

                    <div class="mt-2">
                        <input v-model="email" id="email" name="email" type="email" autocomplete="email" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>

                    <div v-if="errors.email" class="text-red-500 text-xs italic">{{ errors.email }}</div>
                </div>

                <div>
                    <div class="flex items-center justify-between">
                        <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>

                        <div class="text-sm">
                            <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
                        </div>
                    </div>
                    
                    <div class="mt-2">
                        <input v-model="password" id="password" name="password" type="password" autocomplete="current-password" required
                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>

                    <div v-if="errors.password" class="text-red-500 text-xs italic">{{ errors.password }}</div>
                </div>

                <div>
                    <span @click="authenticate(e)" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</span>
                </div>
            </form>

            <p class="mt-10 text-center text-sm text-gray-500">
                Not a member?
                <a :href="route('register')" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Sing up now!</a>
            </p>
        </div>
    </div>
</template>

<style>
    html, body, #app {
        height: 100%;
    }
</style>

<script>
export default {
    props: {
        message: String,
        errors: Object
    },
    data() {
        return {
            email: '',
            password: ''
        };
    },
    methods: {
        authenticate: function(e){
            const form = reactive({
                email: this.email,
                password: this.password
            })

            router.post(route('login.authenticate'), form)
        }
    }
};
</script>