<script setup>
    import Header from '../../Components/Header.vue'
</script>

<template>
    <Header :user="user" :title="title"/>
</template>

<script>
    export default {
        props: {
            user: Object,
            title: String
        },
        data() {
            return {};
        },
    }
</script>