<script setup>
    import Header from '../../Components/Header.vue'
</script>

<template>
    <Header :user="user" :title="title" :create_url="create_url"/>
</template>

<script>
    export default {
        props: {
            user: Object,
            title: String,
            create_url: String
        },
        data() {
            return {};
        },
    }
</script>