<script setup>
    import Header from '../../Components/Header.vue'
    import CampaignForm from '../../Components/CampaignForm.vue'
</script>

<template>
    <Header :user="user" :title="title" />

    <div class="2xl:container 2xl:mx-auto mt-12 mb-10 px-5 2xl:px-5 2xl:px-10 sm:px-5">
        <CampaignForm :campaign="campaign" :errors="$page.props.errors"/>
    </div>
</template>

<script>
    export default {
        props: {
            user: Object,
            title: String,
            campaign: Object,
            errors: Object
        },
        data() {
            return {};
        },
    }
</script>