<script setup>
    import Header from '../../Components/Header.vue'
    import CardCampaign from '../../Components/CardCampaign.vue'
    import BoxAlert from '../../Components/BoxAlert.vue'
</script>

<template>
    <Header :user="user" :title="title" :create_url="create_url"/>
    
    <BoxAlert :errors="$page.props.errors"/>

    <div class="2xl:container 2xl:mx-auto mt-12 mb-10 px-5 2xl:px-5 2xl:px-10 sm:px-5">
        <CardCampaign :campaigns="campaigns" />
    </div>
</template>

<script>
    export default {
        props: {
            user: Object,
            title: String,
            create_url: String,
            campaigns: Object
        },
        data() {
            return {};
        },
    }
</script>