<script setup>
    import { router } from '@inertiajs/vue3'
    import Header from '../../Components/Header.vue'

    import BoxAlert from '../../Components/BoxAlert.vue'
</script>


<template>
    <Header :user="user" :title="title" :create_url="create_url"/>
    
    <BoxAlert :errors="$page.props.errors"/>

    <div class="w-full h-80 relative overflow-hidden mt-[-3rem]">
        <img class="w-full absolute left-0 right-0 top-0 bottom-0 blur-sm brightness-[0.3]" v-bind:src="campaign.image" alt="Sunset in the mountains">

        <h3 class="text-6xl font-bold tracking-tight text-slate-50 h-14 absolute left-0 right-0 top-0 bottom-0 mx-auto my-auto text-center">{{ campaign.name }}</h3>
    </div>

    <div class="2xl:container 2xl:mx-auto mt-8 mb-10 px-5 2xl:px-5 2xl:px-10 sm:px-5">
        <div class="flex justify-between mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900">Campaign - {{ campaign.name }}</h1>

            <div class="flex gap-5">
                <a :href="route('campaigns.edit', campaign.id)"
                    class="flex cursor-pointer w-fit justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Edit</a>

                <a @click="deleteCampaign(e)"
                class="flex cursor-pointer w-fit justify-center rounded-md bg-red-700 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Delete</a>
            </div>
        </div>

        <hr/>

        <div class="my-10 px-10">
            <div id="description">
                <h4 class="text-xl text-gray-800 font-bold mb-5">Description</h4>

                <fieldset v-html="campaign.description" />
            </div>

            <div id="players" class="mt-16">
                <h4 class="text-xl text-gray-800 font-bold mb-5">Players</h4>

                <div id="cards">

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            user: Object,
            title: String,
            create_url: String,
            campaign: Object
        },
        data() {
            return {};
        },
        methods: {
            deleteCampaign: function(e){
                router.delete(route('campaigns.destroy', this.campaign.id))
            }
        }
    }
</script>