<template>
    <div v-if="Object.keys(errors).length" class="bg-red-100 border-t-4 border-red-700 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
        <div class="flex items-center">
            <div class="py-1"><svg class="fill-current h-6 w-6 text-red-500 mr-4" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20">
                    <path
                        d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
                </svg></div>
            <div>
                <p v-if="Object.keys(errors).length > 1" class="font-bold">There are some errors!</p>

                <p v-else class="font-bold">There is a error!</p>

                <ul class="list-disc pl-8">
                    <li v-for="error in errors">
                        <p class="text-sm">{{ error }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div v-if="$page.props.flash.success">
        <div v-if="Object.keys($page.props.flash.success).length" class="bg-green-100 border-t-4 border-green-700 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
            <div class="flex items-center">
                <div class="py-1"><svg class="fill-current h-6 w-6 text-green-500 mr-4" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20">
                        <path
                            d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
                    </svg></div>
                <div>
                    <p class="font-bold">Success!</p>

                    <ul class="list-disc pl-8">
                        <li>
                            <p class="text-sm">{{ $page.props.flash.success }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            errors: Object,
        },
    }
</script>