<script setup>
import { router } from '@inertiajs/vue3'
import { reactive } from 'vue'

import { QuillEditor } from '@vueup/vue-quill'
import '@vueup/vue-quill/dist/vue-quill.snow.css';

import BoxAlert from './BoxAlert.vue'
</script>

<template>
    <form class="w-full">
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    Name
                </label>

                <input v-model="name"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    id="grid-first-name" type="text" placeholder="Jane">

                <p v-if="errors" class="text-red-500 text-xs italic">{{ errors.name }}</p>
            </div>

            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    Category
                </label>

                <input v-model="category"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    id="grid-first-name" type="text" placeholder="Category">

                <p v-if="errors" class="text-red-500 text-xs italic">{{ errors.category }}</p>
            </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    Image
                </label>

                <input v-model="image"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    id="grid-first-name" type="text" placeholder="Image">

                <p v-if="errors" class="text-red-500 text-xs italic">{{ errors.image }}</p>
            </div>
        </div>

        <div class="flex flex-wrap -mx-3 mb-28">
            <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="grid-description">
                    Description
                </label>

                <QuillEditor v-model="description" theme="snow" ref="myEditor" @editorChange="getEditorContent()" />

                <p v-if="errors" class="text-red-500 text-xs italic">{{ errors.description }}</p>
            </div>
        </div>

        <span v-if="campaign" @click="updateCampaign(e)"
            class="flex cursor-pointer w-fit justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Update
            Campaign</span>

        <span v-else="campaign" @click="storeCampaign(e)"
            class="flex cursor-pointer w-fit justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Create
            Campaign</span>
    </form>
</template>

<script>
    export default {
        props: {
            message: String,
            errors: Object,
            campaign: Object
        },
        components: {
            QuillEditor,
        },
        data() {
            return {
                name: '',
                description: '',
                category: '',
                image: '',
            };
        },
        methods: {
            getEditorContent: function() {
                this.description = this.$refs.myEditor.getHTML()
            },

            storeCampaign: function(e) {
                const form = reactive({
                    name: this.name,
                    description: this.description,
                    category: this.category,
                    image: this.image,
                })

                router.post(route('campaigns.store'), form)
            },

            updateCampaign: function(e) {
                const form = reactive({
                    name: this.name,
                    description: this.description,
                    category: this.category,
                    image: this.image,
                })

                router.put(route('campaigns.update', this.campaign.id), form)
            },
        },
        mounted() {
            if(this.campaign != null || this.campaign != undefined){
                this.name = this.campaign.name
                this.description = this.campaign.description
                this.$refs.myEditor.setHTML(this.description)
                this.category = this.campaign.category
                this.image = this.campaign.image
            }
        },
    };
</script>