<script setup>
    import { router } from '@inertiajs/vue3'
</script>

<template>
    <div class="flex justify-between lg:justify-start flex-wrap md:gap-10">
        <a :href="route('campaigns.show', camp.id)" v-for="camp in campaigns" class="w-full md:w-[47%] lg:w-80 rounded overflow-hidden shadow-lg block">
            <div class="w-full h-44 relative overflow-hidden">
                <img class="w-full absolute left-0 right-0 top-0 bottom-0" v-bind:src="camp.image" alt="Sunset in the mountains">
            </div>

            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{ camp.name }}</div>
                <p class="text-gray-700 text-base">
                    {{ camp.description }}
                </p>
            </div>
            <div class="px-6 pt-4 pb-2">
                <span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ camp.category }}</span>
            </div>
        </a>
    </div>
</template>

<script>
    export default {
        props: {
            campaigns: Object
        },
        data() {
            return {};
        },
        methods: {

        }
    };
</script>